# Exploratory Data Analysis

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
!pip install ggplot
import ggplot 

from pandas.lib import Timestamp

Collecting ggplot
  Using cached https://files.pythonhosted.org/packages/48/04/5c88cc51c6713583f2dc78a5296adb9741505348c323d5875bc976143db2/ggplot-0.11.5-py2.py3-none-any.whl
Collecting brewer2mpl (from ggplot)
  Using cached https://files.pythonhosted.org/packages/84/57/00c45a199719e617db0875181134fcb3aeef701deae346547ac722eaaf5e/brewer2mpl-1.4.1-py2.py3-none-any.whl
Requirement already satisfied: patsy>=0.4 in c:\users\raghu\anaconda3\lib\site-packages (from ggplot)
Requirement already satisfied: six in c:\users\raghu\anaconda3\lib\site-packages (from ggplot)
Requirement already satisfied: numpy in c:\users\raghu\anaconda3\lib\site-packages (from ggplot)
Requirement already satisfied: matplotlib in c:\users\raghu\anaconda3\lib\site-packages (from ggplot)
Requirement already satisfied: statsmodels in c:\users\raghu\anaconda3\lib\site-packages (from ggplot)
Requirement already satisfied: scipy in c:\users\raghu\anaconda3\lib\site-packages (from ggplot)
Requirement already satisfied: pandas in c:\users\raghu\anaconda3\lib\site-packages (from ggplot)
Requirement already satisfied: cycler in c:\users\raghu\anaconda3\lib\site-packages (from ggplot)
Requirement already satisfied: python-dateutil in c:\users\raghu\anaconda3\lib\site-packages (from matplotlib->ggplot)
Requirement already satisfied: pytz in c:\users\raghu\anaconda3\lib\site-packages (from matplotlib->ggplot)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=1.5.6 in c:\users\raghu\anaconda3\lib\site-packages (from matplotlib->ggplot)
Installing collected packages: brewer2mpl, ggplot
Successfully installed brewer2mpl-1.4.1 ggplot-0.11.5

You are using pip version 9.0.1, however version 18.0 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.
C:\Users\raghu\Anaconda3\lib\site-packages\ggplot\utils.py:81: FutureWarning: pandas.tslib is deprecated and will be removed in a future version.
You can access Timestamp as pandas.Timestamp
  pd.tslib.Timestamp,
C:\Users\raghu\Anaconda3\lib\site-packages\ggplot\stats\smoothers.py:4: FutureWarning: The pandas.lib module is deprecated and will be removed in a future version. These are private functions and can be accessed from pandas._libs.lib instead
  from pandas.lib import Timestamp
C:\Users\raghu\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

## Import dataset

In [2]:
# test = pd.read_csv("../test.csv")
# sample_sub = pd.read_csv("../sample_submission.csv")

## Check Ins and Outs of data

In [ ]:
train.head()

In [53]:
cols = [
        "device",
        "geoNetwork",
        "totals",
        "trafficSource"
       ]

In [54]:
train = pd.read_csv("../new_train1.csv", converters={column: json.loads for column in cols})

C:\Users\raghu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [56]:
train.geoNetwork[8]

{'city': 'not available in demo dataset',
 'cityId': 'not available in demo dataset',
 'continent': 'Europe',
 'country': 'Austria',
 'latitude': 'not available in demo dataset',
 'longitude': 'not available in demo dataset',
 'metro': 'not available in demo dataset',
 'networkDomain': 'spar.at',
 'networkLocation': 'not available in demo dataset',
 'region': 'not available in demo dataset',
 'subContinent': 'Western Europe'}

In [93]:
column = ["geoNetwork"]
for ab in column:
#     print(ab)
    for i in train[0:10][ab]:
#         print(i)
        new_df = (pd.io.json.json_normalize(i)) 
#         for subcolumn in new_df.columns:

        new_df.columns = [f"{column}.{subcolumn}" for subcolumn in new_df.columns]
        new_bd.append(new_df)

NameError: name 'new_bd' is not defined

In [91]:
new_df

,['geoNetwork'].city,['geoNetwork'].cityId,['geoNetwork'].continent,['geoNetwork'].country,['geoNetwork'].latitude,['geoNetwork'].longitude,['geoNetwork'].metro,['geoNetwork'].networkDomain,['geoNetwork'].networkLocation,['geoNetwork'].region,['geoNetwork'].subContinent
0,not available in demo dataset,not available in demo dataset,Europe,Netherlands,not available in demo dataset,not available in demo dataset,not available in demo dataset,chello.nl,not available in demo dataset,not available in demo dataset,Western Europe

In [ ]:
train_data = train.iloc[:400000]

In [ ]:
# train_data.describe()

In [ ]:
train_data.totals[20]

In [ ]:
train_data.geoNetwork[0]

In [ ]:
train_data.shape

In [ ]:
import json

In [ ]:
json.load(train_datageoNetwork)

## Read json columns into dataframe

In [4]:
import json

In [164]:
cols = [
        "device"
#         "geoNetwork",
#         "totals",
#         "trafficSource"
       ]
def load_data(csv_path):
    
    # read the csv file from the given path
    df = pd.read_csv(csv_path,
                     converters= {column: json.loads for column in cols}, 
                     dtype={'fullVisitorId': 'str'})
    
#     print(df.head())
    # decode the json and get the columns
    column_df = pd.DataFrame()

    for column in cols:

        for i in range(10):
#             print(i)
#             json_normalize converts series into dataframe
            column_df1 = (pd.io.json.json_normalize(df[column][i]))
#             print(column_df1.head())
            column_df = column_df.append(column_df1)
        
            column_df.columns = [f"{column}_{subcolumn}" for subcolumn in column_df.columns]
    return column_df
#         df = df.drop(column, axis=1).merge(column_df, right_index=True, left_index=True)
#         print(df.head())
#     return df

In [165]:
df = load_data("../new_train1.csv")
# df = df.iloc[:,1:]

In [166]:
df.head()

,device_browser,device_browserSize,device_browserVersion,device_deviceCategory,device_device_browser,device_device_browserSize,device_device_browserVersion,device_device_deviceCategory,device_device_device_browser,device_device_device_browserSize,...,device_language,device_mobileDeviceBranding,device_mobileDeviceInfo,device_mobileDeviceMarketingName,device_mobileDeviceModel,device_mobileInputSelector,device_operatingSystem,device_operatingSystemVersion,device_screenColors,device_screenResolution
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
# pd.io.json.json_normalize
for x in (train["geoNetwork"][0].keys()):
    print(x)

continent
subContinent
country
region
metro
city
cityId
networkDomain
latitude
longitude
networkLocation

In [16]:
cols = [
#         "device",
        "geoNetwork",
#         "totals",
#         "trafficSource"
       ]
for column in cols:
    new_df = pd.io.json.json_normalize(df[column])
    new_df.columns = [f"{column}.{subcolumn}" for subcolumn in new_df.columns]

TypeError: Index(...) must be called with a collection of some kind, 'geoNetwork.geoNetwork' was passed

In [15]:
new_df

                                               geoNetwork
0       {'continent': 'Asia', 'subContinent': 'Western...
1       {'continent': 'Oceania', 'subContinent': 'Aust...
2       {'continent': 'Europe', 'subContinent': 'South...
3       {'continent': 'Asia', 'subContinent': 'Southea...
4       {'continent': 'Europe', 'subContinent': 'North...
5       {'continent': 'Europe', 'subContinent': 'South...
6       {'continent': 'Asia', 'subContinent': 'Souther...
7       {'continent': 'Oceania', 'subContinent': 'Aust...
8       {'continent': 'Europe', 'subContinent': 'Weste...
9       {'continent': 'Europe', 'subContinent': 'Weste...
10      {'continent': 'Asia', 'subContinent': 'Souther...
11      {'continent': 'Europe', 'subContinent': 'Weste...
12      {'continent': 'Asia', 'subContinent': 'Western...
13      {'continent': 'Asia', 'subContinent': 'Souther...
14      {'continent': 'Americas', 'subContinent': 'Sou...
15      {'continent': 'Asia', 'subContinent': 'Eastern...
16      {'continent': 'Europe', 'subContinent': 'Weste...
17      {'continent': 'Europe', 'subContinent': 'Weste...
18      {'continent': 'Asia', 'subContinent': 'Southea...
19      {'continent': 'Americas', 'subContinent': 'Sou...
20      {'continent': 'Europe', 'subContinent': 'Easte...
21      {'continent': 'Europe', 'subContinent': 'Weste...
22      {'continent': 'Americas', 'subContinent': 'Nor...
23      {'continent': 'Asia', 'subContinent': 'Southea...
24      {'continent': 'Asia', 'subContinent': 'Southea...
25      {'continent': 'Europe', 'subContinent': 'Weste...
26      {'continent': 'Europe', 'subContinent': 'Weste...
27      {'continent': 'Europe', 'subContinent': 'Easte...
28      {'continent': 'Asia', 'subContinent': 'Souther...
29      {'continent': 'Asia', 'subContinent': 'Southea...
...                                                   ...
199970  {'continent': 'Americas', 'subContinent': 'Nor...
199971  {'continent': 'Europe', 'subContinent': 'North...
199972  {'continent': 'Europe', 'subContinent': 'South...
199973  {'continent': 'Asia', 'subContinent': 'Southea...
199974  {'continent': 'Americas', 'subContinent': 'Nor...
199975  {'continent': 'Europe', 'subContinent': 'Weste...
199976  {'continent': 'Europe', 'subContinent': 'Weste...
199977  {'continent': 'Europe', 'subContinent': 'North...
199978  {'continent': 'Americas', 'subContinent': 'Nor...
199979  {'continent': 'Asia', 'subContinent': 'Southea...
199980  {'continent': 'Europe', 'subContinent': 'Weste...
199981  {'continent': 'Oceania', 'subContinent': 'Aust...
199982  {'continent': 'Europe', 'subContinent': 'Weste...
199983  {'continent': 'Oceania', 'subContinent': 'Aust...
199984  {'continent': 'Oceania', 'subContinent': 'Aust...
199985  {'continent': 'Europe', 'subContinent': 'Weste...
199986  {'continent': 'Europe', 'subContinent': 'Weste...
199987  {'continent': 'Europe', 'subContinent': 'North...
199988  {'continent': 'Asia', 'subContinent': 'Southea...
199989  {'continent': 'Americas', 'subContinent': 'Nor...
199990  {'continent': 'Europe', 'subContinent': 'South...
199991  {'continent': 'Oceania', 'subContinent': 'Aust...
199992  {'continent': 'Europe', 'subContinent': 'South...
199993  {'continent': 'Americas', 'subContinent': 'Nor...
199994  {'continent': 'Europe', 'subContinent': 'North...
199995  {'continent': 'Asia', 'subContinent': 'Souther...
199996  {'continent': 'Asia', 'subContinent': 'Souther...
199997  {'continent': 'Oceania', 'subContinent': 'Aust...
199998  {'continent': 'Americas', 'subContinent': 'Nor...
199999  {'continent': 'Asia', 'subContinent': 'Eastern...

[200000 rows x 1 columns]

In [35]:
import sys
sys.version
sys.version_info

sys.version_info(major=3, minor=5, micro=4, releaselevel='final', serial=0)

In [17]:
name = "Fred"

In [24]:
"He said his name is {}".format(name)

'He said his name is Fred'